/* @font-face {
  font-family: "britti-sans";
  src: url("/assets/fonts/Britti-Sans-Semibold.otf") format("otf");
  font-weight: 600;
  font-style: normal;
} */

/* @font-face {
    font-family: 'Roboto';
    src: url('~assets/fonts/Roboto-Bold.woff2') format('woff2'),
         url('~assets/fonts/Roboto-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  } */

/* Add more font weights or styles as needed */
